# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies and builds
node_modules
dist
dist-ssr
.vite/
*.local
dist.zip
yarn.lock
package-lock.json

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment variables
.env
.env.*
!.env.example

# GitHub directory from original repo
.github/

docs/
vite.config.ts.timestamp-*
httpd.conf
