[submodule "dimos/external/openMVS"]
	path = dimos/external/openMVS
	url = https://github.com/cdcseacave/openMVS.git

[submodule "dimos/external/vcpkg"]
	path = dimos/external/vcpkg
	url = https://github.com/microsoft/vcpkg.git
