opencv-python
python-dotenv
openai
anthropic>=0.19.0
numpy
colorlog==6.9.0
yapf==0.40.2
typeguard
empy==3.3.4
catkin_pkg
lark

# pycolmap

ffmpeg-python
pytest
python-dotenv
openai
tiktoken>=0.8.0
Flask>=2.2
python-multipart==0.0.20
reactivex

# Web Extensions
fastapi>=0.115.6
sse-starlette>=2.2.1
uvicorn>=0.34.0

# Agent Memory 
langchain-chroma>=0.1.4
langchain-openai>=0.2.14

# Class Extraction
pydantic

# Developer Specific
ipykernel

# Unitree webrtc streaming
aiortc==1.9.0
pycryptodome
opencv-python
sounddevice
pyaudio
requests
wasmtime

# Audio
openai-whisper
soundfile

#Hugging Face
transformers[torch]==4.49.0

# CTransforms GGUF - GPU required
ctransformers[cuda]==0.2.27

# Perception Dependencies
ultralytics>=8.3.70
filterpy>=1.4.5
scipy>=1.15.1
torch>=2.0.1
torchvision>=0.15.2
scikit-learn
Pillow
mmengine>=0.10.3
mmcv==2.1.0
timm==1.0.15
lap==0.5.12 
xformers==0.0.22
-e ./dimos/perception/external/vector_perception